<div class="container">
  <sf-main-nav-container>
    <sf-main-nav-header>
      <sf-main-nav-header-logo-icon> 
        
          <button mat-icon-button routerLink="" >
              <mat-icon>favorite</mat-icon>
            </button>
        
      </sf-main-nav-header-logo-icon>
      <sf-main-nav-content> 
      
          <button mat-icon-button routerLink="./../items" >
              <mat-icon>edit</mat-icon>
            </button>
      
      </sf-main-nav-content>
      <sf-main-nav-content> ha </sf-main-nav-content>
    </sf-main-nav-header>


    <sf-main-nav-footer>
        <sf-main-nav-footer-icon> 
          
            <button mat-icon-button routerLink="" >
                <mat-icon aria-label="Example icon-button with a heart icon">info</mat-icon>
              </button>
          
        </sf-main-nav-footer-icon>
        <sf-main-nav-footer-icon> 
        
            <button mat-icon-button routerLink="./../items" >
                <mat-icon aria-label="Example icon-button with a heart icon">person</mat-icon>
              </button>
        
        </sf-main-nav-footer-icon>
    </sf-main-nav-footer>


  </sf-main-nav-container>


</div>
