.container {
    margin-left: 20px;
}

$icon-small-container-size: 32px;
$icon-small-size: 40px;

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-32 { font-size: 32px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-40 { font-size: 40px; }
.material-icons.md-48 { font-size: 48px; }

.flex {
    display: flex;
}