<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav main-nav-line"
    mode="side"
    [opened]="!(isHandset$ | async)">
    <sf-main-nav-container>
      <sf-main-nav-header>
        <sf-main-nav-content>
          <a
            mat-list-item
            routerLink=""
            matTooltip="Začetna stran"
            matTooltipPosition="right"
            matTooltipClass="tooltip"
            ><i class="fas fa-desktop"></i
          ></a>
        </sf-main-nav-content>
        <sf-main-nav-content>
            <button (click)="drawer1.toggle()"
            mat-icon-button
            matTooltip="Zavihki in zgodovinaa"
            matTooltipPosition="right"
            matTooltipClass="tooltip"
            ><mat-icon>star</mat-icon> 
          </button>
        </sf-main-nav-content>
        <sf-main-nav-content>
          <button (click)="drawer.toggle()"
            mat-icon-button
            matTooltip="Iskanje"
            matTooltipClass="tooltip"
          >
          <mat-icon>search</mat-icon> 
          </button>
        </sf-main-nav-content>
        <sf-main-nav-content>
          <a
            mat-list-item
            routerLink="datatable"
            matTooltip="Ustvari novo komponento"
            matTooltipPosition="right"
            matTooltipClass="tooltip"
            ><i class="fas fa-plus"></i></a
        ></sf-main-nav-content>
        <sf-main-nav-content>
            <button
              mat-icon-button
              routerLink="datatable"
              matTooltip="Ustvari novo komponento2"
              matTooltipPosition="right"
              matTooltipClass="tooltip"
              ><i class="fas fa-plus"></i></button>
          </sf-main-nav-content>
      </sf-main-nav-header>

      <sf-main-nav-footer>
        <sf-main-nav-footer-icon>
          <a
            mat-list-item
            routerLink="tree"
            matTooltip="Obvestila"
            matTooltipPosition="right"
            matTooltipClass="tooltip"
            ><i class="far fa-bell"></i
          ></a>
        </sf-main-nav-footer-icon>
        <sf-main-nav-footer-icon>
          <a
            mat-list-item
            routerLink="datatable"
            matTooltip="Prehod med aplikacijami"
            matTooltipPosition="right"
            matTooltipClass="tooltip"
            ><i class="fas fa-th"></i
          ></a>
        </sf-main-nav-footer-icon>
        <sf-main-nav-footer-icon>
          <button
            mat-button
            [matMenuTriggerFor]="menu"
            isIconButton="true"
            matTooltip="Pomoč in podpora"
            matTooltipPosition="right"
            matTooltipClass="tooltip"
          >
            <i class="fas fa-question-circle"></i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Dokumentacija</button>
            <button mat-menu-item>Kaj je novo</button>
          </mat-menu>
        </sf-main-nav-footer-icon>
        <sf-main-nav-footer-icon>
          <a
            mat-list-item
            routerLink="datatable"
            matTooltip="Profil"
            matTooltipPosition="right"
            matTooltipClass="tooltip"
            ><i class="fas fa-user"></i></a
        ></sf-main-nav-footer-icon>
      </sf-main-nav-footer>
    </sf-main-nav-container>
  </mat-sidenav>
  <mat-sidenav-content class="test">
    <!-- Add Content Here -->
    
    <app-navigation></app-navigation>
 
    <mat-drawer #drawer class="search-sidenav" mode="push" hasBackdrop="true">

      <div class="row">
        <div class="column1">
        <button (click)="drawer.close()"
        mat-icon-button >
      <mat-icon>keyboard_arrow_left</mat-icon> 
      </button>
      </div>
      <div class="column2">
      <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Iskanje"></textarea>
        </mat-form-field>
  
      <app-search-dialog></app-search-dialog>
      
      </div>

        </div>
      </mat-drawer>

      <mat-drawer #drawer1 class="search-sidenav" mode="push" hasBackdrop="true">

          <div>
            <button (click)="drawer1.close()"
            mat-icon-button >
          <mat-icon>keyboard_arrow_left</mat-icon> 
          </button>
          <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Iskanje"></textarea>
            </mat-form-field>
          </div>
    Priljubleno
    
          </mat-drawer>

  </mat-sidenav-content>
</mat-sidenav-container>
