<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav main-nav-line"
    mode="side"
    [opened]="!(isHandset$ | async)">
    <sbc-main-nav-container>
      <sbc-main-nav-header>
        <sbc-main-nav-content>
          <a
            mat-list-item
            routerLink=""
            matTooltip="Začetna stran"
            matTooltipPosition="right"
            matTooltipClass="tooltip"
            ><i class="fas fa-desktop"></i
          ></a>
        </sbc-main-nav-content>
        <sbc-main-nav-content>
            <button (click)="drawer1.toggle()"
            mat-icon-button
            matTooltip="Zavihki in zgodovinaa"
            matTooltipPosition="right"
            matTooltipClass="tooltip"
            ><mat-icon>star</mat-icon> 
          </button>
        </sbc-main-nav-content>
        <sbc-main-nav-content>
          <button (click)="drawer.toggle()"
            mat-icon-button
            matTooltip="Iskanje"
            matTooltipClass="tooltip"
          >
          <mat-icon>search</mat-icon> 
          </button>
        </sbc-main-nav-content>
        <sbc-main-nav-content>
          <a
            mat-list-item
            routerLink="datatable"
            matTooltip="Ustvari novo komponento"
            matTooltipPosition="right"
            matTooltipClass="tooltip"
            ><i class="fas fa-plus"></i></a
        ></sbc-main-nav-content>
        <sbc-main-nav-content>
            <button
              mat-icon-button
              routerLink="datatable"
              matTooltip="Ustvari novo komponento2"
              matTooltipPosition="right"
              matTooltipClass="tooltip"
              ><i class="fas fa-plus"></i></button>
          </sbc-main-nav-content>
      </sbc-main-nav-header>

      <sbc-main-nav-footer>
        <sbc-main-nav-footer-icon>
          <a
            mat-list-item
            routerLink="tree"
            matTooltip="Obvestila"
            matTooltipPosition="right"
            matTooltipClass="tooltip"
            ><i class="far fa-bell"></i
          ></a>
        </sbc-main-nav-footer-icon>
        <sbc-main-nav-footer-icon>
          <button
            mat-icon-button
            [matMenuTriggerFor]="prehodAplikacij"
            matTooltip="Prehod med aplikacijami"
            matTooltipPosition="right"
            matTooltipClass="tooltip"
            ><i class="fas fa-th"></i
          ></button>
          <mat-menu #prehodAplikacij="matMenu">
            <span class="mat-menu-label mat-menu-label-text">Operacije</span>
            <button mat-menu-item>Množenje</button>
            <div class="mat-menu-select">Množenje primer dva</div>
            <span class="mat-menu-select">Množenje primer tri</span>
            <button mat-menu-item class="mat-menu-select">Množenje primer štiri</button>
            <button mat-menu-item class="mat-menu-select">Množenje primer štiri</button>
            <button mat-menu-item class="mat-menu-select">Množenje primer štiri</button>
            <button mat-menu-item>Delenje</button>
            <button mat-menu-item>
              <mat-icon>plus_one</mat-icon>
              <span>Seštevanje</span> 
            </button>
            <button mat-menu-item>
                <mat-icon>minimize</mat-icon>
                <span>Odštevanje</span>
            </button>
            <button mat-menu-item>
                <mat-icon>done</mat-icon>
                <span>Izračun</span>
            </button>
          </mat-menu>
        </sbc-main-nav-footer-icon>
        <sbc-main-nav-footer-icon>
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            isIconButton="true"
            matTooltip="Pomoč in podpora"
            matTooltipPosition="right"
            matTooltipClass="tooltip"
          >
            <i class="fas fa-question-circle"></i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Dokumentacija</button>
            <button mat-menu-item>Kaj je novo</button>
          </mat-menu>
        </sbc-main-nav-footer-icon>
        <sbc-main-nav-footer-icon>
          <a
            mat-list-item
            routerLink="datatable"
            matTooltip="Profil"
            matTooltipPosition="right"
            matTooltipClass="tooltip"
            ><i class="fas fa-user"></i></a
        ></sbc-main-nav-footer-icon>
      </sbc-main-nav-footer>
    </sbc-main-nav-container>
  </mat-sidenav>
  <mat-sidenav-content class="test">
    <!-- Add Content Here -->
    
    <app-navigation></app-navigation>
 



          
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-drawer #drawer1 class="search-sidenav" mode="push" hasBackdrop="true">

  <div>
    <button (click)="drawer1.close()"
    mat-icon-button >
  <mat-icon>keyboard_arrow_left</mat-icon> 
  </button>
  <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Iskanje"></textarea>
    </mat-form-field>
  </div>
Priljubleno

  </mat-drawer>

<mat-drawer #drawer class="search-sidenav" mode="push" hasBackdrop="true">

  <div class="row">
    <div class="column1">
    <button (click)="drawer.close()"
    mat-icon-button >
  <mat-icon>arrow_back</mat-icon> 
  </button>
  </div>
  <div class="column2">

  <app-search-dialog></app-search-dialog>
  
  </div>

    </div>
  </mat-drawer>

  