.sidenav-container {
  height: 100%;
}

// Barva Ikonic
a {
  color: whitesmoke;
}


//Angular Material Tooltip
::ng-deep .tooltip {
  background-color: black;
  color: blue;
  font-size: 14px;
}

// Main-nav Linija med main in Side navigation
/* .main-nav-line {
  border-style: none solid none none;
    border-width: 2px;
    background-color: #0747A6;
} */


// BArva črte med mainNav in Nav
mat-sidenav {
  background-color: #0747A6;
  z-index: 20;
  position: absolute;
}

mat-sidenav-content{
  z-index: 50;
  position: relative;
}

// NE BRIŠI
// Globalna spremeljivka ki spremeni celoten CDK Overlay Panel
// Ni za uporabo, saj mi spremeni vse kot npr. modalna okna, menije, tabele....
/* ::ng-deep .cdk-overlay-pane {
  position: absolute !important;
  left: 50px;
  bottom: -35px;
} */

// Posamezna styling okna za Mat-menu

// Mat menu "Obvestila"
::ng-deep .cdk-overlay-pane .matMenu1 {
  position: absolute !important;
  left: 50px;
  bottom: 140px;
}
// Mat menu "Prehod med aplikacijami"
::ng-deep .cdk-overlay-pane .matMenu2 {
  position: absolute !important;
  left: 50px;
  bottom: 100px;
}
// Mat menu "Pomoč in podpora"
::ng-deep .cdk-overlay-pane .matMenu3 {
  position: absolute !important;
  left: 50px;
  bottom: 60px;
}


// Material MENU Pisava
::ng-deep .mat-menu-item {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.42857142857143;
}



