.sidenav-container {
  height: 100%;
}

// Barva Ikonic
a {
  color: whitesmoke;
}


//Angular Material Tooltip
::ng-deep .tooltip {
  background-color: black;
  color: blue;
  font-size: 14px;
}

// Main-nav Linija med main in Side navigation
.main-nav-line {
  border-style: none solid none none;
    border-width: 2px;
}
// BArva črte med mainNav in Nav
mat-sidenav {
  background-color: #0747A6;
  z-index: 20;
  position: absolute;
}

mat-sidenav-content{
  z-index: 50;
  position: relative;
}

// NAVIGACIJA SIDE NAV


.search-sidenav {
  background-color: rgb(255, 255, 255);
  display: flex;
  height: 100vh;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 600px;
  z-index: 501;
  overflow: hidden;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}



.row{
  display: flex;
}

.column1 {
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  color: rgb(66, 82, 110);
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 16px;
  padding-top: 24px;
  width: 64px;
}

.column2 {
  margin-top: 24px;
  flex: 1 1 0%;
  overflow: auto;
}

