<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    disableClose
    fixedInViewport="true"
    class="main-nav-line"
    mode="side"
    opened="true"
    (mouseenter)="showNavButton = true"
    (mouseleave)="showNavButton = false"
    >
    <sbc-global-nav-content>
      <sbc-global-nav-header>
        
          <a sbcGlobalNavLogo
            mat-list-item
            routerLink=""
            matTooltip="Začetna stran"
            matTooltipPosition="right"
            matTooltipClass="tooltip"
            ><fa-icon [icon]="['fab', 'accusoft']" size="2x"></fa-icon>
        </a><span sbcGlobalNavLogoSpacer></span>

          <button 
            sbcGlobalNavPrimaryItem
            (click)="drawer1.open()"
            (click)="overlayOpenHistory()"
            mat-icon-button
            matTooltip="Zavihki in zgodovinaa"
            matTooltipPosition="right"
            matTooltipClass="tooltip">
            <fa-icon [icon]="['far', 'star']" size="lg"></fa-icon> 
          </button>

          <button 
           sbcGlobalNavPrimaryItem
           (click)="drawer2.toggle()"
            (click)="overlayOpenHistory()"
            mat-icon-button
            matTooltip="Iskanje"
            matTooltipClass="tooltip">
            <fa-icon [icon]="['fas', 'search']" size="lg"></fa-icon> 
          </button>

          <button
            sbcGlobalNavPrimaryItem
            mat-icon-button
            (click)="openDialog()"
            matTooltip="Ustvari novo komponento"
            matTooltipPosition="right"
            matTooltipClass="tooltip"
            ><fa-icon [icon]="['fas', 'plus']" size="lg"></fa-icon>
          </button>

          <button
            sbcGlobalNavPrimaryItem
            mat-icon-button
            routerLink="datatable"
            matTooltip="Pregled projektov in kave"
            matTooltipPosition="right"
            matTooltipClass="tooltip">
            <fa-icon [icon]="['fas', 'coffee']" size="lg"></fa-icon>
          </button>

      </sbc-global-nav-header>

      <sbc-global-nav-footer>

          <button sbcGlobalNavSecondaryItem
            (click)="closeIconMenu"
            mat-icon-button
            [matMenuTriggerFor]="menuNotification"
            isIconButton="true"
            matTooltip="Obvestila"
            matTooltipPosition="right"
            matTooltipClass="tooltip"
          >
          <fa-icon [icon]="['fas', 'bell']" size="lg"></fa-icon>
          </button>
          <mat-menu #menuNotification="matMenu" class="matMenu1">
              <sbc-menu-title>Današnja obvestila</sbc-menu-title>
              <button sbcMenuItem>Novice</button>
              <button sbcMenuItem>Email</button>
              <sbc-menu-title>Arhiv</sbc-menu-title>
              <button sbcMenuItem>Zadnji mesec</button>
              <button sbcMenuItem>
                  <fa-icon [icon]="['fas', 'file-contract']" size="lg"></fa-icon>
                  <span fxFlexOffset="15px">Pregled Arhivov</span>
              </button>
          </mat-menu><span sbcGlobalNavFooterSpacer></span>

          <button sbcGlobalNavSecondaryItem
            mat-icon-button
            [matMenuTriggerFor]="prehodAplikacij"
            matTooltip="Prehod med aplikacijami"
            matTooltipPosition="right"
            matTooltipClass="tooltip"
            ><fa-icon [icon]="['fas', 'th']" size="lg"></fa-icon>
          </button>
          <mat-menu #prehodAplikacij="matMenu" class="matMenu2">
              <sbc-menu-title>Operacije</sbc-menu-title>
            <button sbcMenuItem>Množenje</button>
            <button sbcMenuItem>Delenje</button>
            <button sbcMenuItem>Seštevanje</button>
            <button sbcMenuItem>Odštevanje</button>
            <sbc-menu-title>Rezultat</sbc-menu-title>
            <button sbcMenuItem>
                <fa-icon [icon]="['fab', 'affiliatetheme']" size="lg"></fa-icon>
                <span fxFlexOffset="15px">Izračun</span></button>
          </mat-menu><span sbcGlobalNavFooterSpacer></span>

          <button sbcGlobalNavSecondaryItem
            mat-icon-button
            [matMenuTriggerFor]="menu"
            isIconButton="true"
            matTooltip="Pomoč in podpora"
            matTooltipPosition="right"
            matTooltipClass="tooltip"
          >
          <fa-icon [icon]="['fas', 'question-circle']" size="lg"></fa-icon>
          </button>
          <mat-menu #menu="matMenu" class="matMenu3">
              <sbc-menu-title>Dokumentacija</sbc-menu-title>
              <button sbcMenuItem>Pomoč pri Breadcrumbers</button>
              <button sbcMenuItem>Navigacija</button>
              <sbc-menu-title>Licenca</sbc-menu-title>
              <button sbcMenuItem>
                  <fa-icon [icon]="['fas', 'file-contract']" size="lg"></fa-icon>
                  <span fxFlexOffset="15px">Pogoji uporabe</span></button>
          </mat-menu><span sbcGlobalNavFooterSpacer></span>

          <a sbcGlobalNavSecondaryItem
            mat-list-item
            routerLink="datatable"
            matTooltip="Profil"
            matTooltipPosition="right"
            matTooltipClass="tooltip"
            ><fa-icon [icon]="['fas', 'user-circle']" size="lg"></fa-icon></a
        >
      </sbc-global-nav-footer>
    </sbc-global-nav-content>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- CONTENT OZ PRIKAZ KONTEKSTA -->
    <app-navigation 
    [showOverlayHistory]="overlayHistory"
    [showNavButton]="showNavButton"
    ></app-navigation>
 
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-drawer #drawer1 sbcDrawer mode="push">
  <sbc-drawer-container>
    <sbc-drawer-navigation>
      <button (click)="drawer1.close()"
      (click)="overlayCloseHistory()"
        mat-icon-button >
        <fa-icon [icon]="['fas', 'arrow-left']" size="lg"></fa-icon>
      </button>
    </sbc-drawer-navigation>
    <sbc-drawer-content>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam impedit architecto quibusdam 
        nostrum cum vel porro in aliquid harum incidunt, dicta reprehenderit nulla, ipsum fugiat illo qui, error veniam obcaecati.
      </p>
    </sbc-drawer-content>
  </sbc-drawer-container>
</mat-drawer>

<!-- TRETJA NAVIGACIJSKA TIPKA ISKANJE -- DRAWER -->
<mat-drawer #drawer2 sbcDrawer mode="push" >
  <sbc-drawer-container>
    <sbc-drawer-navigation>
      <button (click)="drawer2.close()"
        (click)="overlayCloseHistory()"
        mat-icon-button >
        <fa-icon [icon]="['fas', 'arrow-left']" size="lg"></fa-icon>
      </button>
    </sbc-drawer-navigation>
    <sbc-drawer-content>
      <app-search-dialog-navigation></app-search-dialog-navigation>
    </sbc-drawer-content>
  </sbc-drawer-container>
</mat-drawer>
