<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    class="sidenav main-nav-line"
    fixedInViewport="true"
    [style.width.px]="widthSideBar"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
    (mouseenter)="showNavButton = true"
    (mouseleave)="showNavButton = false"
    [@openCloseDrawerAnimation]="isOpenTwo ? 'open' : 'closed'"
    >

    <mat-toolbar *ngIf="!hideNavContent">
      <div class="toolbarBox">
        Navigacija
      </div>
    </mat-toolbar>

    

    <!-- ANIMATION SUBMENU -->
    <div [@openCloseAnimation]="dropDownMenuDocumentation ? 'openAnimation' : 'closeAnimation'"
        [@openCloseAnimation]="dropDownMenuTree ? 'openAnimation' : 'closeAnimation'">
    <!-- !ANIMATION SUBMENU -->

    <mat-nav-list 
      style="margin: 16px;" 
      *ngIf="!hideNavContent && !dropDownMenuDocumentation && !dropDownMenuTree"
      >
      <a mat-list-item sbcNavItem routerLink="">
        <fa-icon [icon]="['fas', 'coffee']" size="lg" [fixedWidth]="true"></fa-icon>
        <span fxFlexOffset="15px">
            DashBoard
        </span>
      </a>

      <a mat-list-item sbcNavItem routerLink="items" routerLinkActive="active">
        <fa-icon [icon]="['far', 'folder']" size="lg" [fixedWidth]="true"></fa-icon>
        <span fxFlexOffset="15px">
            Items
        </span>
      </a>

      <a mat-list-item sbcNavItem routerLink="forms" routerLinkActive="active">
        <fa-icon [icon]="['fab', 'wpforms']" size="lg" [fixedWidth]="true"></fa-icon>
        <span fxFlexOffset="15px">
            Forms
        </span>
      </a>

      <a mat-list-item sbcNavItem routerLink="datatable" routerLinkActive="active">
        <fa-icon [icon]="['fas', 'table']" size="lg" [fixedWidth]="true"></fa-icon>
          <span fxFlexOffset="15px">
            DataTable
          </span>
      </a>

      <a mat-list-item sbcNavItem
        (mouseenter)="showIconTree = true"
        (mouseleave)="showIconTree = false"
        (click)="dropDownMenuTree = !dropDownMenuTree">
        <fa-icon [icon]="['fas', 'stream']" size="lg" [fixedWidth]="true"></fa-icon>
          <span fxFlexOffset="15px">
            Tree
          </span>
        <fa-icon [icon]="['fas', 'arrow-circle-right']" size="lg" fxFlex fxLayoutAlign="flex-end" *ngIf="showIconTree"></fa-icon>
      </a>

      <a mat-list-item sbcNavItem
        (mouseenter)="showIconDocumentation = true"
        (mouseleave)="showIconDocumentation = false"
        (click)="toggleDocumention()">
        <fa-icon [icon]="['fas', 'file-alt']" size="lg" [fixedWidth]="true"></fa-icon>
          <span fxFlexOffset="15px">
            Dokumentacija
          </span>
        <fa-icon [icon]="['fas', 'arrow-circle-right']" size="lg" fxFlex fxLayoutAlign="flex-end" *ngIf="showIconDocumentation"></fa-icon>
      </a>

      <a mat-list-item sbcNavItem routerLink="testing-ui"
        (mouseenter)="isSyncAnimated = true"
        (mouseleave)="isSyncAnimated = false">
        <fa-icon [icon]="['fas', 'cog']" size="lg" [fixedWidth]="true" 
        [spin]="isSyncAnimated" 
        ></fa-icon>
          <span fxFlexOffset="15px">
            Testing UI Testing UI
          </span>
      </a>
    </mat-nav-list>

    <!-- PodMeni komponente Dokumentacija -->
  
    <mat-nav-list 
      style="margin: 16px;" 
      *ngIf="!hideNavContent && dropDownMenuDocumentation"
      >
      <a mat-list-item sbcNavItem
        (click)="toggleDocumention()"
        (click)="showIconDocumentation = false">
        <fa-icon [icon]="['fas', 'arrow-circle-left']" size="lg" [fixedWidth]="true"></fa-icon>
          <span fxFlexOffset="15px">
            Nazaj na navigacijo
          </span>
      </a>

      <hr>
      <sbc-nav-item-title>Breadcrumbers</sbc-nav-item-title>
      <a mat-list-item sbcNavItem routerLink="documentation">
        <fa-icon [icon]="['fas', 'file-alt']" size="lg" [fixedWidth]="true"></fa-icon>
          <span fxFlexOffset="15px">
            Dokumentacija
          </span>
      </a>

      <hr>

      <sbc-nav-item-title>Hitre povezave</sbc-nav-item-title>
      <a mat-list-item sbcNavItem routerLink="">
        <fa-icon [icon]="['fas', 'coffee']" size="lg" [fixedWidth]="true"></fa-icon>
        <span fxFlexOffset="15px">
            DashBoard
        </span>
      </a>

      <a mat-list-item sbcNavItem routerLink="items">
        <fa-icon [icon]="['far', 'folder']" size="lg" [fixedWidth]="true"></fa-icon>
        <span fxFlexOffset="15px">
            Items
        </span>
      </a>
    </mat-nav-list>

    <!-- PodMeni komponente Tree -->
    <mat-nav-list 
      style="margin: 16px;" 
      *ngIf="!hideNavContent && dropDownMenuTree"
      >
      
      <a mat-list-item sbcNavItem
        (click)="dropDownMenuTree = !dropDownMenuTree"
        (click)="showIconTree = false">
        <fa-icon [icon]="['fas', 'arrow-circle-left']" size="lg" [fixedWidth]="true"></fa-icon>
          <span fxFlexOffset="15px">
            Nazaj na navigacijo
          </span>
      </a>

      <hr>

      <sbc-nav-item-title>Datoteke ki so na voljo</sbc-nav-item-title>
      <a mat-list-item sbcNavItem routerLink="documentation">
        <fa-icon [icon]="['fas', 'file-alt']" size="lg" [fixedWidth]="true"></fa-icon>
          <span fxFlexOffset="15px">
            Datoteka Avto
          </span>
      </a>

      <a mat-list-item sbcNavItem routerLink="documentation">
        <fa-icon [icon]="['fas', 'file-alt']" size="lg" [fixedWidth]="true"></fa-icon>
          <span fxFlexOffset="15px">
            Datoteka Pohištvo
          </span>
      </a>

      <a mat-list-item sbcNavItem routerLink="documentation">
        <fa-icon [icon]="['fas', 'file-alt']" size="lg" [fixedWidth]="true"></fa-icon>
          <span fxFlexOffset="15px">
            Datoteka Okna
          </span>
      </a>

      <hr>

      <sbc-nav-item-title>Hitre povezave</sbc-nav-item-title>
      <a mat-list-item sbcNavItem routerLink="">
        <fa-icon [icon]="['fas', 'coffee']" size="lg" [fixedWidth]="true"></fa-icon>
        <span fxFlexOffset="15px">
            DashBoard
        </span>
      </a>

      <a mat-list-item sbcNavItem routerLink="items">
        <fa-icon [icon]="['far', 'folder']" size="lg" [fixedWidth]="true"></fa-icon>
        <span fxFlexOffset="15px">
            Items
        </span>
      </a>
    </mat-nav-list>

    <!-- ANIMATION SUBMENU -->
    </div>
    <!-- !ANIMATION SUBMENU -->

  

  </mat-sidenav>

  <!-- Container  za show&hide Navigacijo, hkrati je tudi Content(Router Outlet) -->
  <mat-sidenav-content [style.marginLeft.px]="widthSideBar">
      
    <sbc-nav-container style="z-index: 305;">
      <div sbcNavShowHidePanel style="z-index: 306;"
        (mouseenter)="showNavButton = true"
        (mouseleave)="showNavButton = false"
      >
        <button *ngIf="showNavButton"
          sbcNavShowHideButton style="z-index: 307;"
          mat-icon-button
          type="button"
          aria-label="Toggle sidenav"
          (click)="toggleSideBar()"
          (click)="hideNavContent = !hideNavContent"
          (click)="toggleNew()"
        >
          <fa-icon *ngIf="hideNavContent" [icon]="['fas', 'bars']" [fixedWidth]="true" style="position: relative; bottom: 7px;"></fa-icon>
          <fa-icon *ngIf="!hideNavContent" [icon]="['fas', 'angle-left']" [fixedWidth]="true" style="position: relative; bottom: 7px; right: 1px;"></fa-icon>
        </button>

      </div>
      <!-- (click)="toggleSideBar()" -->
      <div class="router-content"
        [@showOverlay]="!showOverlay">
        <router-outlet></router-outlet>
      </div>

    </sbc-nav-container>
  </mat-sidenav-content>
</mat-sidenav-container>
