<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav main-nav-line" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>

        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      Navigacija
    </mat-toolbar>
    <mat-nav-list style="margin: 20px;">
      <a mat-list-item routerLink=""><i class="far fa-file-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Dashboard</a>
      <a mat-list-item routerLink="items"><i class="fas fa-sitemap"></i>&nbsp;&nbsp;&nbsp;&nbsp;Items</a>
      <a mat-list-item routerLink="forms"><i class="fab fa-wpforms"></i>&nbsp;&nbsp;&nbsp;&nbsp;Forms</a>
      <a mat-list-item routerLink="datatable"><i class="fas fa-database"></i>&nbsp;&nbsp;&nbsp;&nbsp;DataTable
      </a>
      <a mat-list-item routerLink="tree"><i class="fas fa-stream"></i>&nbsp;&nbsp;&nbsp;&nbsp;Tree<i class="fas fa-arrow-right"></i></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
