.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 241px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-drawer.mat-drawer-end[ng-reflect-opened=false]{
  left: 35px !important;
  visibility: visible !important;
}

mat-sidenav {
  background-color: #0747A6;
}

//Angular Material Tooltip
.mat-list-item {
  //background-color: black;
  color: blue;
  font-size: 14px;
}
//Navigacija, ko se z kurzorjem dotaknemo gumba
.mat-list-item:hover{
  border-radius: 8px;
  background-color: #1C63CE;
}

//Ko pritisnemo navigacijsko tipko
.mat-list-item:active{
  //background-color: aqua;
}

//Navigacijska izbira na meniju
.mat-list-item:focus{
  border-radius: 8px;
  background-color: #05367F;
}


.main-nav-line {
  border-style: none solid none none;
    border-width: 3px;
}


mat-toolbar {
  color: whitesmoke;
}

a {
  color: whitesmoke;
}

a:link {
  color: whitesmoke;
}

a:visited {
  color: whitesmoke;
}

a:hover {
  color: whitesmoke;
}


.example-container {
  width: 500px;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
