.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 241px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-drawer.mat-drawer-end[ng-reflect-opened=false]{
  left: 35px !important;
  visibility: visible !important;
}

mat-sidenav {
  background-color: #0747A6;
  z-index: 200;
}

mat-sidenav-content{
  z-index: 300;
}

//Angular Material Tooltip
.mat-list-item {
  //background-color: black;
  color: blue;
  font-size: 14px;
}
//Navigacija, ko se z kurzorjem dotaknemo gumba
.mat-list-item:hover{
  border-radius: 8px;
  background-color: #1C63CE;
}

//Ko pritisnemo navigacijsko tipko
.mat-list-item:active{
  //background-color: aqua;
}

//Navigacijska izbira na meniju
.mat-list-item:focus{
  border-radius: 8px;
  background-color: #05367F;
}


.main-nav-line {
  border-style: none solid none none;
    border-width: 3px;
}


mat-toolbar {
  color: whitesmoke;
}

a {
  color: whitesmoke;
}

a:link {
  color: whitesmoke;
}

a:visited {
  color: whitesmoke;
}

a:hover {
  color: whitesmoke;
}



.button1 {
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 1px, rgba(9, 30, 66, 0.08) 0px 2px 4px 1px;
  color: rgb(107, 119, 140);
  cursor: pointer;
  height: 24px;
  //opacity: 0;
  position: fixed;
  top: 32px;
  transform: translate(-50%);
  width: 24px;
  background: 0px center white;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-radius: 50%;
  outline: 0px;
  padding: 0px;
  transition: background-color 100ms linear 0s, color 100ms linear 0s, opacity 300ms cubic-bezier(0.2, 0, 0, 1) 0s, transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
}

.button1:hover {
  background-color: rgb(76, 154, 255);
  color: white;
}

::ng-deep mat-icon{
  color: currentcolor;
  display: inline-block;
  fill: rgb(255, 255, 255);
  flex-shrink: 0;
  line-height: 1;
}

.row{
  display: flex;
}

.column1 {
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  color: rgb(66, 82, 110);
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 16px;
  padding-top: 24px;
  width: 64px;
}

.column2 {
  // margin-top: 24px;
  flex: 1 1 0%;
  overflow: auto;
}

.navButton {
  position: relative;
  width: 24px;
  background-color: white;
}

.navButton2 {
  bottom: 0px;
  left: -3px;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition-duration: 0.22s;
  transition-property: left, opacity, width;
  transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
  width: 3px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2) 0px, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0.1) 1px, rgba(0, 0, 0, 0) 100%);
}

.blockDisplay:hover {
  display: block;
  border-left: 3px solid #4C9AFF;
}

.button22{
  position: fixed;
  left: 20px;
}