/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
background-color: #fff;
color: #172B4D;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.42857142857143;
}
@import './styles/styles.scss';


// Barva Ikonic
/* a {
    color: whitesmoke;
  } */

/* a:focus {
    background-color: #05367F;
}

a:hover {
    background-color: #1C63CE;
}

a:active {
    background-color: #1A5ABC;
} */

